In [221]:
import pandas as pd

In [222]:
d1 = pd.read_csv('/content/sc.csv')
d2 = pd.read_csv('/content/scrap.csv')
d3 = pd.read_csv('/content/scrap_data.csv')
d4 = pd.read_csv('/content/scrapy_data.csv')
d5 = pd.read_csv('/content/scrape.csv')
d6 = pd.read_csv('/content/sca.csv')
d7 = pd.read_csv('/content/scar.csv')

In [223]:
df = pd.concat([d1,d2,d3,d4,d5,d6,d7],ignore_index =True)

In [224]:
df.head()

,designation,comapany,employeecount,followers,level,totalapplicants,location,industry
0,Data Analytics Intern,Unified Mentor,51-200 employees,"42,049 followers",Internship,India · 3 hours ago · 10 applicants,India,E-Learning Providers 51-200 employees 322 on L...
1,Python Developer,Tata Consultancy Services,"10,001+ employees","15,234,184 followers","Full-time\nMatches your job preferences, job t...","Delhi, India · 1 week ago · Over 100 applicants","Delhi, India","IT Services and IT Consulting 10,001+ employee..."
2,Software Analyst - Power BI,Bechtel Corporation,"10,001+ employees","1,085,287 followers","Full-time\nMatches your job preferences, job t...","Delhi, Delhi, India · Reposted 3 weeks ago · O...","Delhi, Delhi, India","Construction 10,001+ employees 24,791 on LinkedIn"
3,Postgres DB,Tata Consultancy Services,"10,001+ employees","15,234,184 followers","Full-time\nMatches your job preferences, job t...","Delhi, India · 2 weeks ago · 40 applicants","Delhi, India","IT Services and IT Consulting 10,001+ employee..."
4,Data Analyst,Ajackus,51-200 employees,"9,025 followers","Full-time\nMatches your job preferences, job t...",India · 3 days ago · Over 100 applicants,India,IT Services and IT Consulting 51-200 employees...

In [225]:
df.shape

(347, 8)

In [226]:
df.dtypes

designation        object
comapany           object
employeecount      object
followers          object
level              object
totalapplicants    object
location           object
industry           object
dtype: object

In [227]:
df.rename(columns={'comapany': 'name'}, inplace=True)
df.rename(columns={'employeecount': 'employees_count'}, inplace=True)
df.rename(columns={'followers': 'linkedin_followers'}, inplace=True)
df.rename(columns={'totalapplicants': 'total_applicants'}, inplace=True)

In [228]:
df.columns

Index(['designation', 'name', 'employees_count', 'linkedin_followers', 'level',
       'total_applicants', 'location', 'industry'],
      dtype='object')

In [229]:
df['job_id'] = range(1, len(df) + 1)
df['company_id'] = range(1, len(df) + 1)
df['details_id'] = range(1, len(df) + 1)

In [230]:
columns_order = ['job_id', 'company_id', 'details_id'] + [col for col in df.columns if col not in ['job_id', 'company_id', 'details_id']]
df = df[columns_order]

In [231]:
df.head()

,job_id,company_id,details_id,designation,name,employees_count,linkedin_followers,level,total_applicants,location,industry
0,1,1,1,Data Analytics Intern,Unified Mentor,51-200 employees,"42,049 followers",Internship,India · 3 hours ago · 10 applicants,India,E-Learning Providers 51-200 employees 322 on L...
1,2,2,2,Python Developer,Tata Consultancy Services,"10,001+ employees","15,234,184 followers","Full-time\nMatches your job preferences, job t...","Delhi, India · 1 week ago · Over 100 applicants","Delhi, India","IT Services and IT Consulting 10,001+ employee..."
2,3,3,3,Software Analyst - Power BI,Bechtel Corporation,"10,001+ employees","1,085,287 followers","Full-time\nMatches your job preferences, job t...","Delhi, Delhi, India · Reposted 3 weeks ago · O...","Delhi, Delhi, India","Construction 10,001+ employees 24,791 on LinkedIn"
3,4,4,4,Postgres DB,Tata Consultancy Services,"10,001+ employees","15,234,184 followers","Full-time\nMatches your job preferences, job t...","Delhi, India · 2 weeks ago · 40 applicants","Delhi, India","IT Services and IT Consulting 10,001+ employee..."
4,5,5,5,Data Analyst,Ajackus,51-200 employees,"9,025 followers","Full-time\nMatches your job preferences, job t...",India · 3 days ago · Over 100 applicants,India,IT Services and IT Consulting 51-200 employees...

In [232]:
df.shape

(347, 11)

In [233]:
df.dtypes

job_id                 int64
company_id             int64
details_id             int64
designation           object
name                  object
employees_count       object
linkedin_followers    object
level                 object
total_applicants      object
location              object
industry              object
dtype: object

In [234]:
df['linkedin_followers'] = df['linkedin_followers'].str.replace(',','')
df['linkedin_followers'] = df['linkedin_followers'].str.extract(r'(\d+)')

In [235]:
df['linkedin_followers'] = df['linkedin_followers'].fillna(0)
df['linkedin_followers'] = df['linkedin_followers'].astype(int)
df['linkedin_followers'] = df['linkedin_followers'].apply(lambda x: f"{x:,}")

In [236]:
df['linkedin_followers']

0          42,049
1      15,234,184
2       1,085,287
3      15,234,184
4           9,025
          ...
342       312,210
343         1,314
344        85,479
345         8,108
346             0
Name: linkedin_followers, Length: 347, dtype: object

In [237]:
df['employees_count'] = df['employees_count'].str.replace(' employees', '')

In [238]:
df['employees_count']

0           51-200
1          10,001+
2          10,001+
3          10,001+
4           51-200
          ...
342      501-1,000
343        201-500
344         51-200
345    1,001-5,000
346            NaN
Name: employees_count, Length: 347, dtype: object

In [239]:
df['total_applicants'] = df['total_applicants'].str.extract(r'(\d+)\s+applicants' ,expand=False)
df['total_applicants'] = df['total_applicants'].where(df['total_applicants'].notna(), other='')

In [240]:
df['level']

0                                             Internship
1      Full-time\nMatches your job preferences, job t...
2      Full-time\nMatches your job preferences, job t...
3      Full-time\nMatches your job preferences, job t...
4      Full-time\nMatches your job preferences, job t...
                             ...
342    Full-time\nMatches your job preferences, job t...
343    Full-time\nMatches your job preferences, job t...
344                                               Remote
345                                          Entry level
346    Full-time\nMatches your job preferences, job t...
Name: level, Length: 347, dtype: object

In [241]:
df['industry'] = df['industry'].str.extract(r'^([^\d]+)',expand=False).str.strip()

In [242]:
df['industry']

0                      E-Learning Providers
1             IT Services and IT Consulting
2                              Construction
3             IT Services and IT Consulting
4             IT Services and IT Consulting
                       ...
342    Technology, Information and Internet
343           Services for Renewable Energy
344           IT Services and IT Consulting
345                                  Retail
346                                     NaN
Name: industry, Length: 347, dtype: object

In [243]:
df

,job_id,company_id,details_id,designation,name,employees_count,linkedin_followers,level,total_applicants,location,industry
0,1,1,1,Data Analytics Intern,Unified Mentor,51-200,"42,049",Internship,10,India,E-Learning Providers
1,2,2,2,Python Developer,Tata Consultancy Services,"10,001+","15,234,184","Full-time\nMatches your job preferences, job t...",100,"Delhi, India",IT Services and IT Consulting
2,3,3,3,Software Analyst - Power BI,Bechtel Corporation,"10,001+","1,085,287","Full-time\nMatches your job preferences, job t...",100,"Delhi, Delhi, India",Construction
3,4,4,4,Postgres DB,Tata Consultancy Services,"10,001+","15,234,184","Full-time\nMatches your job preferences, job t...",40,"Delhi, India",IT Services and IT Consulting
4,5,5,5,Data Analyst,Ajackus,51-200,"9,025","Full-time\nMatches your job preferences, job t...",100,India,IT Services and IT Consulting
...,...,...,...,...,...,...,...,...,...,...,...
342,343,343,343,Data Scientist,redBus,"501-1,000","312,210","Full-time\nMatches your job preferences, job t...",100,"Bengaluru, Karnataka, India","Technology, Information and Internet"
343,344,344,344,Trainee Business Analyst,Just Energy India,201-500,"1,314","Full-time\nMatches your job preferences, job t...",100,"Bengaluru, Karnataka, India",Services for Renewable Energy
344,345,345,345,Business Analyst,ConsultBae Jobs,51-200,"85,479",Remote,100,India,IT Services and IT Consulting
345,346,346,346,"Junior, Data Scientist",Hudson's Bay Company India,"1,001-5,000","8,108",Entry level,100,"Bengaluru, Karnataka, India",Retail
346,347,347,347,PYTHON DEVELOPER,NaN,NaN,0,"Full-time\nMatches your job preferences, job t...",15,"Bengaluru, Karnataka, India",NaN

In [244]:
def clean_level(value):
    if isinstance(value, str):
        if 'Full-time' in value:
            return 'Full-Time'
        elif 'Internship' in value:
            return 'Internship'
        elif 'Mid-Senior level' in value:
            return 'Mid-Senior level'
        elif 'Onsite' in value:
          return 'Onsite'
        elif 'Entry level' in value:
            return 'Entry level'
    return value

df['level'] = df['level'].apply(clean_level)

In [245]:
df['level'] = df['level'].str.extract(r'(\w+)')

In [246]:
df['level']

0      Internship
1            Full
2            Full
3            Full
4            Full
          ...
342          Full
343          Full
344        Remote
345         Entry
346          Full
Name: level, Length: 347, dtype: object

In [247]:
df.head()

,job_id,company_id,details_id,designation,name,employees_count,linkedin_followers,level,total_applicants,location,industry
0,1,1,1,Data Analytics Intern,Unified Mentor,51-200,"42,049",Internship,10,India,E-Learning Providers
1,2,2,2,Python Developer,Tata Consultancy Services,"10,001+","15,234,184",Full,100,"Delhi, India",IT Services and IT Consulting
2,3,3,3,Software Analyst - Power BI,Bechtel Corporation,"10,001+","1,085,287",Full,100,"Delhi, Delhi, India",Construction
3,4,4,4,Postgres DB,Tata Consultancy Services,"10,001+","15,234,184",Full,40,"Delhi, India",IT Services and IT Consulting
4,5,5,5,Data Analyst,Ajackus,51-200,"9,025",Full,100,India,IT Services and IT Consulting

In [248]:
df.dtypes

job_id                 int64
company_id             int64
details_id             int64
designation           object
name                  object
employees_count       object
linkedin_followers    object
level                 object
total_applicants      object
location              object
industry              object
dtype: object

In [249]:
df.head()

,job_id,company_id,details_id,designation,name,employees_count,linkedin_followers,level,total_applicants,location,industry
0,1,1,1,Data Analytics Intern,Unified Mentor,51-200,"42,049",Internship,10,India,E-Learning Providers
1,2,2,2,Python Developer,Tata Consultancy Services,"10,001+","15,234,184",Full,100,"Delhi, India",IT Services and IT Consulting
2,3,3,3,Software Analyst - Power BI,Bechtel Corporation,"10,001+","1,085,287",Full,100,"Delhi, Delhi, India",Construction
3,4,4,4,Postgres DB,Tata Consultancy Services,"10,001+","15,234,184",Full,40,"Delhi, India",IT Services and IT Consulting
4,5,5,5,Data Analyst,Ajackus,51-200,"9,025",Full,100,India,IT Services and IT Consulting

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   job_id              347 non-null    int64
 1   company_id          347 non-null    int64
 2   details_id          347 non-null    int64
 3   designation         347 non-null    object
 4   name                323 non-null    object
 5   employees_count     328 non-null    object
 6   linkedin_followers  347 non-null    object
 7   level               336 non-null    object
 8   total_applicants    347 non-null    object
 9   location            345 non-null    object
 10  industry            334 non-null    object
dtypes: int64(3), object(8)
memory usage: 29.9+ KB

In [251]:
df.describe()

           job_id  company_id  details_id
count  347.000000  347.000000  347.000000
mean   174.000000  174.000000  174.000000
std    100.314505  100.314505  100.314505
min      1.000000    1.000000    1.000000
25%     87.500000   87.500000   87.500000
50%    174.000000  174.000000  174.000000
75%    260.500000  260.500000  260.500000
max    347.000000  347.000000  347.000000

In [252]:
df.isnull().sum()

job_id                 0
company_id             0
details_id             0
designation            0
name                  24
employees_count       19
linkedin_followers     0
level                 11
total_applicants       0
location               2
industry              13
dtype: int64

In [253]:
duplicates = df.duplicated()

In [254]:
df.drop_duplicates(inplace=True)

In [255]:
df.duplicated().sum()

0

In [256]:
df.dropna(inplace=True)

In [257]:
df.shape

(316, 11)

In [258]:
df.isnull().sum()

job_id                0
company_id            0
details_id            0
designation           0
name                  0
employees_count       0
linkedin_followers    0
level                 0
total_applicants      0
location              0
industry              0
dtype: int64

In [259]:
df.head()

,job_id,company_id,details_id,designation,name,employees_count,linkedin_followers,level,total_applicants,location,industry
0,1,1,1,Data Analytics Intern,Unified Mentor,51-200,"42,049",Internship,10,India,E-Learning Providers
1,2,2,2,Python Developer,Tata Consultancy Services,"10,001+","15,234,184",Full,100,"Delhi, India",IT Services and IT Consulting
2,3,3,3,Software Analyst - Power BI,Bechtel Corporation,"10,001+","1,085,287",Full,100,"Delhi, Delhi, India",Construction
3,4,4,4,Postgres DB,Tata Consultancy Services,"10,001+","15,234,184",Full,40,"Delhi, India",IT Services and IT Consulting
4,5,5,5,Data Analyst,Ajackus,51-200,"9,025",Full,100,India,IT Services and IT Consulting

In [260]:
jobs_df = df[['job_id', 'company_id', 'location', 'designation', 'details_id']]
company_df = df[['company_id', 'name', 'industry', 'employees_count', 'linkedin_followers']]
de_df = df[['job_id', 'company_id','details_id', 'level', 'total_applicants']]

In [261]:
jobs_df.to_csv('jobs.csv', index=False)
company_df.to_csv('company.csv', index=False)
de_df.to_csv('de.csv', index=False)